# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
files: ".*"
exclude: "^magic_hate_ball/static/js/"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: pytest
        name: Run pytest
        entry: uv run pytest -s -v
        language: system
        pass_filenames: false
      - id: mypy
        name: Run mypy
        entry: uv run mypy --strict magic_hate_ball/ tests/
        language: system
        pass_filenames: false
      - id: ty
        name: Run ty check
        entry: uv run ty check
        language: system
        pass_filenames: false
      - id: js-build
        name: Run just js-build
        entry: pnpm run build
        language: system
        pass_filenames: false

  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.10 # Use the sha / tag you want to point at
    hooks:
      - id: biome-check
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)d\\.(ts|cts|mts)|css|svelte|vue|astro|graphql|gql|html|)$"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/semgrep/pre-commit
    rev: "v1.149.0"
    hooks:
      - id: semgrep-ci
