# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: js-build
        name: Run just js-build
        entry: just js-build
        language: system
        pass_filenames: false
      - id: js-build-clean
        name: Ensure js-build leaves magic_hate_ball/static/js clean
        entry: sh -c "git diff --name-only --exit-code -- magic_hate_ball/static/js/"
        language: system
        pass_filenames: false
