<!DOCTYPE html>
<html>
    <head>
        <title>Magic Hate Ball</title>
        <script src="/static/js/main.js"></script>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <h1>Welcome to the Magic Hate Ball!</h1>
        <p>Ask your question and receive an answer.</p>

        <div id="ball">
            <canvas id="hate-ball-canvas" width="300" height="300"></canvas>
        </div>

        <div id="answer" class="answer box hidden"></div>
        <div id="error" class="errormsg hidden box"></div>

        <p><button id="get_answer">Get Answer</button></p>
    </body>
</html>
