body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	color: #333;
	text-align: center;
	margin: 0;
	padding: 2rem;
}

.box {
	font-weight: bold;
	padding: 1rem;
	border-radius: 1rem;
}

.error {
	color: black;
	background-color: lightpink;
}

.hidden {
	display: none;
}

.answer {
	color: white;
	background-color: darkblue;
	border: none;
}
