---
name: Javascript Things

"on":
  push:
    branches:
      - main
  pull_request:

jobs:
  javascript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - uses: extractions/setup-just@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Running tests
        run: |
          pnpm i --frozen-lockfile
          just js-lint
          just js-build
