---
name: Type Checking

"on":
  push:
    branches:
      - main
  pull_request:

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Running linting
        run: |
          uv run pre-commit run ty
          uv run pre-commit run mypy
